.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffc107;
  }
  